
@font-face {
    font-family:"Gilroy-UltraLight";
    src:url("Gilroy-UltraLight.woff2") format("woff2"),url("Gilroy-UltraLight.woff") format("woff"),url("Gilroy-UltraLight.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        